<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>330300478300-60c4gkmu2804v0u89eoensj10rttckg3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.330300478300-60c4gkmu2804v0u89eoensj10rttckg3</string>
	<key>API_KEY</key>
	<string>AIzaSyDNjPRpgoNFEWfkQ3T2mGE2uJnKhqBnkS8</string>
	<key>GCM_SENDER_ID</key>
	<string>330300478300</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.travelthailand.sulaimanfood</string>
	<key>PROJECT_ID</key>
	<string>sulaimanfood-8d12a</string>
	<key>STORAGE_BUCKET</key>
	<string>sulaimanfood-8d12a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:330300478300:ios:686363c71da5f233082799</string>
</dict>
</plist>